/* body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
 */

.header {
  line-height: 1;
  border-bottom: 1px solid #e5e5e5;
}

.header-row {
  padding: 10px 25px 0px 25px;
}

.header-logo {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
  font-size: 2.15rem;
}

.header-logo:hover {
  text-decoration: none;
}

.header-progress {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
  font-size: 1.25rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
}

.form-container {
  margin: 35px 5% 35px 5%;
}

.mcq {
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  padding: 20px 25px 20px 25px;
}

.submit-button {
  margin: 20px 0px 20px 0px;
  border-radius: 20px;
}
